.page{
    background-color: #9EDDFF;
}

.name9{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.top{
    align-items: center;

}

.nav{
    background-color: #6499E9;
    text-align: end;
    padding: 2%;
    /*width: 100%;*/
    /*height: 100%;*/
    margin:0;
    display: flexbox;
    align-content: center;
}    

.bar{
    text-decoration: none;
    color: white;
    padding-inline-start: 3%;
    align-items: end;
    font-size: 20px;
    
}

.join{
    border-style: ridge color none;
    border-radius: 30px;
    background-color: #D85532 ;
    padding: 10px ;
    
}

.int{
    color: white;
}

.about{
    padding-left: 5%;
    color: white;
    font-style: normal;
}
 .para{
    padding-left: 3%;
    color: white;
 }

 .blog1{
    color: white;
 }